.container{
    padding-top: 20px;
}
.left {
    width: 20%;
    float: left;
    padding: 0 5px;
}
.middle {
    width: 60%;
    float: left;
    padding: 0 10px;
}
.middle h2 {
    text-align: center;
}
.right {
    width: 20%;
    float: left;
}